<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="FolderForm.Text" value="Folder"/>
		<add key="ChartControl.DefaultFormulas" value="VOLMA;SlowSTO;Extend.RSI;CCI;VOLMA;VOLMA"/>
		<add key="ChartControl.FavoriteFormulas" value="VOLMA;EXTEND.RSI;CCI;OBV;ATR;FastSTO;SlowSTO;ROC;TRIX;WR;AD;CMF;PPO;StochRSI;ULT;BBWidth;PVO"/>
		<add key="ChartControl.OverlayFormulas" value="Extend.BB;NATIVE.MA(5);NATIVE.MA(20);NATIVE.MA(60)"/>
		<add key="ChartControl.Skin" value="RedWhite"/>
	</appSettings>
	
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727"/>
	
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
